.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
backend.hcl
*.pem
*.ppk
.idea/
.env
.env.*
credentials
*.credentials
aws-credentials*
.tmp-orig-ep1/
.DS_Store
